---
layout: default
title: Projects
permalink: /projects/
---

<h2>Personal projects</h2>
<p class="py2">
  A list of projects that I have created for myself.
</p>

<div class="project">
  <span class="h4 title">Irvi slovarik (dictionary)</span>
  {% include icon-link.html url="http://irvi-slovarik.ru" icon-class="icon-small" %}

    <p class="excerpt">
      NOTE: Project is on russian
    </p>
    <p class="excerpt">
      Irvi-slovarik is a dictionary for keeping personal lists of words and
      theirs translations. While learning a language you permanently discover
      new words and here you can keep them and test yourself with them.
    </p>
    <p class="excerpt">
      Something like duolingo, but basically much simpler.
    </p>
</div>

<div class="project">
  <span class="h4 title">Lama</span>
  {% include icon-github.html username=site.github_username repo="lama"
    icon-class="icon-small" %}

    <p class="excerpt">
      An engine for developing online stores using Ruby on Rails.
    </p>
    <p class="excerpt">
      Currently under development, not ready for use.
    </p>
</div>

<div class="project">
  <span class="h4 title">Swan</span>
  {% include icon-github.html username=site.github_username repo="swan"
    icon-class="icon-small" %}

    <p class="excerpt">
      Often there are some config files that need to be shared between many
      projects and keeping them up to date in every project can be annoying.
      Usually it is done by hands copypasting them manually from project to
      project. Swan is a tool to help automate this process.

    </p>
    <p class="excerpt">
      Distributed as a <a href="http://rubygems.org/gems/swan">rubygem</a>.
    </p>
</div>

<div class="project">
  <span class="h4 title">Dotfiles</span>
  {% include icon-github.html username=site.github_username repo="dotfiles"
    icon-class="icon-small" %}

    <p class="excerpt">
      A collection of my dotfiles and other configuration, with included tool to
      set everything up and get updates in matter of seconds on every machine.
    </p>
    <p class="excerpt"></p>
</div>
